@page "/"

<PageTitle>Welcome</PageTitle>

<main class="grid min-h-screen place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8 dark:bg-gray-900">
    <div class="text-center">
        <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl dark:text-white">Welcome to my Portfolio!</h1>
        <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8 dark:text-gray-400">My name is Muhirwa I. Thierry and I'm .Net, Blazor and Flutter Software developer.</p>
    </div>
</main>