@page "/"

<PageTitle>Thierry I. Muhirwa</PageTitle>

<header id="scrolled-appbar" class="sha fixed z-50 flex w-full -translate-y-20 flex-row border-b border-gray-950/5 bg-white/55 px-6 py-2 text-gray-950 shadow-md shadow-gray-300/50 backdrop-blur-sm transition duration-300 ease-in-out lg:px-16 dark:border-white/10 dark:bg-gray-950/55 dark:text-white dark:shadow-gray-700/50">
    <h1 class="font-custom text-center text-xl font-semibold tracking-tighter text-gray-950 md:text-left md:text-4xl dark:text-white">TM</h1>
    <div class="flex-grow"></div>
    <nav class="hidden flex-row items-center gap-6 md:flex">
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#home">Home</a>
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#about">About</a>
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#services">Services</a>
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#projects">Projects</a>
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#contacts">Contacts</a>
    </nav>
    <button onclick="openMobileNavbar()" type="button" class="rounded-full text-gray-950 hover:bg-gray-950/5 md:hidden dark:text-white dark:hover:bg-white/10">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" /></svg>
    </button>
</header>

<header id="appbar" class="flex flex-row border-b border-gray-950/5 px-6 py-2 text-gray-950 md:px-10 lg:px-16 dark:border-white/10 dark:text-white">
    @* <img class="h-10 md:h-12" src="logo.svg" /> *@
    <h1 class="font-custom text-center text-xl font-semibold tracking-tighter text-gray-950 md:text-left md:text-4xl dark:text-white">TM</h1>
    <div class="flex-grow"></div>
    <nav class="hidden flex-row items-center gap-6 md:flex">
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#home">Home</a>
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#about">About</a>
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#services">Services</a>
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#projects">Projects</a>
        <a class="text-sm/6 font-medium text-gray-950 dark:text-white" href="#contacts">Contacts</a>
    </nav>
    <button onclick="openMobileNavbar()" type="button" class="rounded-full text-gray-950 hover:bg-gray-950/5 md:hidden dark:text-white dark:hover:bg-white/10">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z" /></svg>
    </button>

</header>

<div id="overlay" class="pointer-events-none fixed z-100 h-screen w-screen"></div>
<nav id="mobile-navbar" class="fixed top-0 z-150 flex w-full -translate-y-60 flex-col items-center gap-6 bg-white/55 py-4 shadow-lg shadow-gray-300/50 backdrop-blur-sm transition duration-300 md:hidden dark:bg-gray-950/55 dark:shadow-gray-700/50">
    <a class="text-sm font-medium text-gray-950 dark:text-white" href="#home">Home</a>
    <a class="text-sm font-medium text-gray-950 dark:text-white" href="#about">About</a>
    <a class="text-sm font-medium text-gray-950 dark:text-white" href="#services">Services</a>
    <a class="text-sm font-medium text-gray-950 dark:text-white" href="#projects">Projects</a>
    <a class="text-sm font-medium text-gray-950 dark:text-white" href="#contacts">Contacts</a>
</nav>

<main>
    <section class="grid-flow-row grid-cols-2 place-items-center gap-2 px-6 py-10 md:grid md:px-10 md:py-16 lg:px-16" id="home">
        <div class="flex flex-col items-center gap-2">
            <h1 class="font-custom text-center text-3xl font-semibold text-gray-950 md:text-left md:text-4xl dark:text-white">
                Full-Stack & Mobile App Developer | Flutter, ASP.NET & Blazor
            </h1>
            <h2 class="text-center text-lg text-gray-900 md:text-left md:text-xl dark:text-gray-300">
                Your users interact with your platform across a dozen different devices.
                I bridge that gap by building seamless, integrated systems that deliver your services
                to smartphones, tablets, and desktops alike.
            </h2>
            <button type="button" class="mx-auto box-border inline-flex w-fit gap-2 rounded-full border border-transparent bg-sky-600 px-4 py-2.5 text-sm leading-5 font-medium text-white shadow-xs hover:bg-sky-800 focus:ring-4 focus:ring-sky-700 focus:outline-none md:mx-0">
                Contact me
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" /></svg>
            </button>
        </div>
        <div class="absolute top-0 -z-50 h-full w-screen rounded-full bg-linear-65 from-sky-600 to-sky-800 opacity-20 blur-3xl">
        </div>
        <div class="relative hidden md:block">
            <img src="hero.png" alt="Hero Image" />
        </div>
    </section>

    <section class="px-6 py-10 md:px-10 md:py-16 lg:px-16" id="about">
        <div class="grid grid-flow-col grid-rows-2 gap-4 md:grid-flow-row md:grid-cols-2 md:grid-rows-1">
            <div class="relative h-full">
                <div class="absolute -z-50 h-full w-full rounded-full bg-linear-65 from-sky-600 to-sky-800 opacity-20 blur-3xl" />
                <div class="h-8/10 bg-[url(../dev.png)] mask-b-from-70% mask-b-to-100% bg-contain bg-center bg-no-repeat" />
            </div>
            <div class="font-custom flex flex-col gap-2 text-gray-800 dark:text-gray-300">
                <h1 class="font-custom text-3xl font-semibold text-gray-950 md:text-4xl dark:text-white">
                    About Me.
                </h1>
                <h2 class="text-lg">
                    I am Thierry I. Muhirwa, a Full-Stack and Mobile Application Developer with over 5 years of experience in the software engineering industry.
                    I specialize in building scalable, high-performance systems with a relentless focus on reliability and security.
                    I don't follow trends for the sake of it;
                    I integrate AI solutions strategically, ensuring they add genuine value and improve the user experience only where it makes sense.
                </h2>
                <h6>Tech stacks:</h6>
                <ul class="list-inside list-disc">
                    <li><span class="me-2 font-bold">Web & Backend:</span>ASP.NET Core, Blazor, C#, Entity Framework, and RESTful APIs.</li>
                    <li><span class="me-2 font-bold">Mobile Development:</span>Flutter and Dart</li>
                    <li><span class="me-2 font-bold">Intelligence Layer:</span>Microsoft Agent Framework for agentic AI integration.</li>
                </ul>
                <button type="button" class="mx-auto box-border inline-flex w-fit gap-2 rounded-full border border-transparent bg-sky-600 px-4 py-2.5 text-sm leading-5 font-medium text-white shadow-xs hover:bg-sky-800 focus:ring-4 focus:ring-sky-700 focus:outline-none md:mx-0">
                    Get in Touch
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" /></svg>
                </button>
            </div>
        </div>
    </section>

    <section class="px-6 py-10 md:px-10 md:py-16 lg:px-16" id="services">
        <h1 class="font-custom mb-2 text-3xl font-semibold text-gray-950 md:text-4xl dark:text-white">
            Services
        </h1>
        <div class="grid grid-flow-col grid-rows-5 gap-4 md:grid-flow-row md:grid-cols-2 md:grid-rows-3">
            <div>
                <h3 class="font-custom text-2xl font-semibold text-gray-950 dark:text-white">1. Full-Stack Solutions</h3>
                <p class="font-custom ms-6 text-lg text-gray-800 dark:text-gray-300">
                    I build end-to-end platforms where web and mobile applications work in perfect sync.
                    By leveraging <span class="font-semibold">ASP.NET Core, Blazor, and Flutter</span>, I ensure your services are always within reach of your users,
                    providing a seamless transition from desktop to mobile.
                </p>
            </div>

            <div>
                <h3 class="font-custom text-2xl font-semibold text-gray-950 dark:text-white">2. Mobile Applications:</h3>
                <p class="font-custom ms-6 text-lg text-gray-800 dark:text-gray-300">
                    I design and integrate native-quality iOS and Android applications into new or existing infrastructures.
                    Using <span class="font-semibold">Flutter</span>, I deliver "pixel-perfect" interfaces and fluid animations that don't just look good—they make
                    accessing your services fast, intuitive, and frictionless.
                </p>
            </div>

            <div>
                <h3 class="font-custom text-2xl font-semibold text-gray-950 dark:text-white">3. Web Applications & Admin Portals:</h3>
                <p class="font-custom ms-6 text-lg text-gray-800 dark:text-gray-300">
                    I build modern, responsive web systems using <span class="font-semibold">ASP.NET Core</span> and <span class="font-semibold">Blazor</span>.
                    My focus is on turning complex data into actionable insights through custom dashboards and monitoring tools,
                    giving you total control over your organization’s activities in one centralized place.
                </p>
            </div>

            <div>
                <h3 class="font-custom text-2xl font-semibold text-gray-950 dark:text-white">4. AI Agents and Chatbots:</h3>
                <p class="font-custom ms-6 text-lg text-gray-800 dark:text-gray-300">
                    I develop single and multi-agent applications that allow users to interact with your platform via natural language, bypassing complex UIs.
                    Using the <span class="font-semibold">Microsoft Agentic Framework</span>, I implement <span class="font-semibold">RAG (Retrieval-Augmented Generation)</span> and <span class="font-semibold">Semantic Search</span>
                    to help your users find exactly what they need fast and easily.
                </p>
            </div>

            <div>
                <h3 class="font-custom text-2xl font-semibold text-gray-950 dark:text-white">5. DevOps & Cloud Deployment:</h3>
                <p class="font-custom ms-6 text-lg text-gray-800 dark:text-gray-300">
                    I handle the heavy lifting of getting your code to the world.
                    From configuring secure CI/CD pipelines to deploying on <span class="font-semibold">Azure, AWS, or Firebase,</span> I ensure your apps are live, secure, and reliable.
                    I also manage the entire submission process for the <span class="font-semibold">Apple App Store</span> and <span class="font-semibold">Google Play Store</span>.
                </p>
            </div>
        </div>
    </section>
</main>